@import '../../../jb-component-library/src/lib/styles/variables.scss';


$accessible-green: #1d8500;
$washed-red: #ffdfdf;
$light-faded-gray: #f4f4f4;

$page-margin-l: 15rem;
$page-margin-m: 10rem;
$page-margin-s: 1rem;
